<a href="https://colab.research.google.com/github/zesff/Data-Analyst/blob/main/Python_para_Data_Science_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color=green> PYTHON PARA DATA SCIENCE - PANDAS
---

# <font color=green> 1. INTRODUCCIÓN A PYTHON
---

# 1.1 Introducción

> Python es un lenguaje de programación de alto nivel con soporte a múltiples paradigmas de programación. Es un proyecto *open source* y desde su aparición en 1991, viene convirtiéndose en uno de los lenguajes de programación interpretados más populares. 
>
> En los últimos años Python ha desarrollado una comunidad activa de procesamiento científico y análisis de datos y viene destacándose como uno de los lenguajes más relevantes cuando el asunto es ciencia de datos y machine learning, tanto en el entorno académico como también en el entorno laboral.

# 1.2 Instalación y entorno de trabajo

### Instalación Local

### https://www.python.org/downloads/
### o
### https://www.anaconda.com/distribution/

### Google Colaboratory

### https://colab.research.google.com

### Verificando versión

In [1]:
!python -V

Python 3.9.16

# 1.3 Trabajando con datos

In [2]:
import pandas as pd
pd.set_option('display.max_rows', 10)
pd.set_option('display.max.columns', 10)

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
dataset = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/db.csv', sep = ';')

In [5]:
dataset

,Nombre,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Control de estabilidad', 'Piloto automático'...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Asientos de cuero', 'Panel digital', 'Sensor...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Llantas de aleación', 'Control de tracción',...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Aire condicionado', '4 X 4', 'Transmisión au...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimedia', 'Techo panorámico', 'Ve...",90381.47

In [6]:
dataset.dtypes

Nombre          object
Motor           object
Año              int64
Kilometraje    float64
Cero_km           bool
Accesorios      object
Valor          float64
dtype: object

In [7]:
dataset[['Kilometraje','Valor']].describe()

         Kilometraje          Valor
count     197.000000     258.000000
mean    58278.421320   98960.513101
std     35836.733259   29811.932305
min       107.000000   50742.100000
25%     27505.000000   70743.512500
50%     55083.000000   97724.380000
75%     90495.000000  124633.302500
max    119945.000000  149489.920000

In [8]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Nombre       258 non-null    object
 1   Motor        258 non-null    object
 2   Año          258 non-null    int64
 3   Kilometraje  197 non-null    float64
 4   Cero_km      258 non-null    bool
 5   Accesorios   258 non-null    object
 6   Valor        258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 12.5+ KB

# <font color=green> 2. TRABAJANDO CON TUPLAS
---

# 2.1 Creando tuplas

Tuplas son secuencias **inmutables** que son utilizadas para guardar colecciones de objetos, geralmente heterogéneos. Pueden ser construídas de varias formas:
```
- Utilizando un par de paréntesis: ( )
- Utilizando una coma a la derecha: x,
- Utilizando un par de paréntesis con objetos separados por comas: ( x, y, z )
- Utilizando: tuple() o tuple(iterador)
```

In [9]:
()

()

In [10]:
1, 2, 3

(1, 2, 3)

In [11]:
nombre = 'Passat'
valor = 153000
(nombre, valor)

('Passat', 153000)

In [12]:
nombre_carros = tuple(['Jetta Variant', 'Passat', 'Crossfox', 'DS5'])
nombre_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [13]:
type (nombre_carros)

tuple

# 2.2 Selecciones en tuplas

In [14]:
nombre_carros = tuple(['Jetta Variant', 'Passat', 'Crossfox', 'DS5'])
nombre_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [15]:
nombre_carros[0]

'Jetta Variant'

In [16]:
nombre_carros[1]

'Passat'

In [17]:
nombre_carros[-1]

'DS5'

In [18]:
nombre_carros[1:3]

('Passat', 'Crossfox')

In [19]:
nombre_carros = tuple(['Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol','C4')])
nombre_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))

In [20]:
nombre_carros[-1]

('Fusca', 'Gol', 'C4')

In [21]:
nombre_carros[-1][1]

'Gol'

# 2.3 Iterando en tuplas

In [22]:
nombres_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nombres_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [23]:
for item in nombres_carros:
  print(item)

Jetta Variant
Passat
Crossfox
DS5

### Desempacando tuplas

In [24]:
nombres_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nombres_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [25]:
carro_1, carro_2, carro_3, carro_4 = nombres_carros

In [26]:
carro_1

'Jetta Variant'

In [27]:
carro_2

'Passat'

In [28]:
carro_3

'Crossfox'

In [29]:
carro_4

'DS5'

In [30]:
_, A, _, B = nombres_carros

In [31]:
A

'Passat'

In [32]:
B

'DS5'

In [33]:
_, C, *_ = nombres_carros

In [34]:
C

'Passat'

## *zip()*

https://docs.python.org/3.6/library/functions.html#zip

In [35]:
carros = ['Jetta Variant', 'Passat', 'Crossfox', 'DS5']
carros

['Jetta Variant', 'Passat', 'Crossfox', 'DS5']

In [36]:
valores = [88078.64, 106161.94, 72832.16, 124549.07]
valores

[88078.64, 106161.94, 72832.16, 124549.07]

In [37]:
list(zip(carros, valores))

[('Jetta Variant', 88078.64),
 ('Passat', 106161.94),
 ('Crossfox', 72832.16),
 ('DS5', 124549.07)]

In [38]:
for item in zip(carros, valores):
  print(item)

('Jetta Variant', 88078.64)
('Passat', 106161.94)
('Crossfox', 72832.16)
('DS5', 124549.07)

In [39]:
for carro, valor in zip(carros, valores):
  print(carro, valor)

Jetta Variant 88078.64
Passat 106161.94
Crossfox 72832.16
DS5 124549.07

In [40]:
for carro, valor in zip(carros, valores):
  if (valor > 100000):
    print(carro, valor)

Passat 106161.94
DS5 124549.07

In [41]:
carros = (
    (
        'Jetta Variant',
        'Motor 4.0 Turbo',
        2003,
        False,
        ('Llantas de aleación', 'Cerraduras eléctricas', 'Piloto automático')
    ),
    (
        'Passat',
        'Motor Diesel',
        1991,
        True,
        ('Central multimedia', 'Techo panoramico', 'Frenos ABS')
    )
)

In [42]:
for tupla in carros:
    for item in tupla[-1]:
        print(item)

Llantas de aleación
Cerraduras eléctricas
Piloto automático
Central multimedia
Techo panoramico
Frenos ABS

# <font color=green> 3. TRABAJANDO CON DICCIONARIOS
---

# 3.1 Creando diccionarios

Listas son colecciones secuenciales, es decir, los elementos de estas secuencias están ordenados y utilizan índices (números enteros) para acceder a los valores.

Los diccionarios son colecciones ligeramente diferentes. Son estructuras de datos que representan un tipo de mapeo. Los mapeos son colecciones de asociaciones entre pares de valores donde el primer elemento del par se conoce como llave (*key*) y el segundo como valor (*value*).

```
diccionario = {key_1: value_1, key_2: value_2, ..., key_n: value_n}
```

https://docs.python.org/3.6/library/stdtypes.html#typesmapping

In [43]:
carros = ['Jetta Variant', 'Passat', 'Crossfox']
carros

['Jetta Variant', 'Passat', 'Crossfox']

In [44]:
valores = [88078.64, 106161.94, 72832.16]
valores

[88078.64, 106161.94, 72832.16]

In [45]:
carros.index('Passat')

1

In [46]:
valores[carros.index('Passat')]

106161.94

In [47]:
datos = {'Jetta Variant':88078.64, 'Passat':106161.94, 'Crossfox':72832.16}
datos

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

In [48]:
type(datos)

dict

### Creando diccionarios con *zip()*

In [49]:
list(zip(carros, valores))

[('Jetta Variant', 88078.64), ('Passat', 106161.94), ('Crossfox', 72832.16)]

In [50]:
datos=dict(zip(carros, valores))
datos

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

# 3.2 Operaciones con diccionarios

In [51]:
datos = {'Jetta Variant':88078.64, 'Passat':106161.94, 'Crossfox':72832.16}
datos

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

## *dict[ key ]*

Devuelve el valor correspondiente a la llave (*key*) en el diccionario.

In [52]:
datos['Passat']

106161.94

## *key in dict*

Devuelve **True** si la llave (*key*) es encontrada en el diccionario.

In [53]:
'Passat' in datos

True

In [54]:
'Fusca' in datos

False

In [55]:
'Fusca' not in datos

True

## *len(dict)*

Devuelve el número de itens del diccionario.

In [56]:
len(datos)

3

## *dict[ key ] = value*

Incluye un item al diccionario.

In [57]:
datos['DS5']=124549.07
datos

{'Jetta Variant': 88078.64,
 'Passat': 106161.94,
 'Crossfox': 72832.16,
 'DS5': 124549.07}

## *del dict[ key ]*

Borra el item de llave (*key*) del diccionario.

In [58]:
del datos ['Passat']

In [59]:
datos

{'Jetta Variant': 88078.64, 'Crossfox': 72832.16, 'DS5': 124549.07}

In [60]:
datos = {
    'Passat': {
        'año': 2012,
        'km': 50000,
        'valor': 75000,
        'accesorios': ['Airbag', 'ABS']
    }, 
    'Crossfox': {
        'año': 2015,
        'km': 35000,
        'valor': 25000
    }
}

In [61]:
'accesorios' in datos['Crossfox']

False

In [62]:
'accesorios' in datos['Passat']

True

In [63]:
datos['Crossfox']['valor']

25000

In [64]:
datos['Passat']['accesorios'][-1]

'ABS'

# 3.3 Métodos de diccionarios

## *dict.update()*

Actualiza el diccionario.

In [65]:
datos = {'Jetta Variant':88078.64, 'Passat':106161.94, 'Crossfox':72832.16}
datos

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

In [66]:
datos

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

In [67]:
datos.update({'DS5': 124581.07})
datos

{'Jetta Variant': 88078.64,
 'Passat': 106161.94,
 'Crossfox': 72832.16,
 'DS5': 124581.07}

In [68]:
datos.update({'DS5': 124581.08, 'Fusca':150000})
datos

{'Jetta Variant': 88078.64,
 'Passat': 106161.94,
 'Crossfox': 72832.16,
 'DS5': 124581.08,
 'Fusca': 150000}

## *dict.copy()*

Crea una copia del diccionario.

In [69]:
datosCopy = datos.copy()

In [70]:
datosCopy

{'Jetta Variant': 88078.64,
 'Passat': 106161.94,
 'Crossfox': 72832.16,
 'DS5': 124581.08,
 'Fusca': 150000}

In [71]:
del datosCopy['Fusca']
datosCopy

{'Jetta Variant': 88078.64,
 'Passat': 106161.94,
 'Crossfox': 72832.16,
 'DS5': 124581.08}

In [72]:
datosCopy['Passat']=106161.94
datosCopy

{'Jetta Variant': 88078.64,
 'Passat': 106161.94,
 'Crossfox': 72832.16,
 'DS5': 124581.08}

In [73]:
datos

{'Jetta Variant': 88078.64,
 'Passat': 106161.94,
 'Crossfox': 72832.16,
 'DS5': 124581.08,
 'Fusca': 150000}

## *dict.pop(key[, default ])*

Si la llave se encuentra en el diccionario, el elemento se elimina y se devuelve su valor. De lo contrario, se devuelve el valor especificado como *default*. Si no se proporciona el valor *default* y la llave no se encuentra en el diccionario, se generará un error.

In [74]:
datosCopy

{'Jetta Variant': 88078.64,
 'Passat': 106161.94,
 'Crossfox': 72832.16,
 'DS5': 124581.08}

In [75]:
datosCopy.pop('Passat')

106161.94

In [76]:
datosCopy

{'Jetta Variant': 88078.64, 'Crossfox': 72832.16, 'DS5': 124581.08}

In [77]:
datosCopy.pop('Passat', 'Llave no fue encontrada')

'Llave no fue encontrada'

In [78]:
datosCopy.pop('DS5', 'Llave no fue encontrada')

124581.08

In [79]:
datosCopy

{'Jetta Variant': 88078.64, 'Crossfox': 72832.16}

## *dict.clear()*

Borra todos los itens del diccionario.

In [80]:
datosCopy.clear()

In [81]:
datosCopy

{}

# 3.4 Iterando en diccionarios

In [82]:
datos = {'Jetta Variant':88078.64, 'DS5':124549.07,'Fusca':150000, 'Passat':106161.94, 'Crossfox':72832.16}
datos

{'Jetta Variant': 88078.64,
 'DS5': 124549.07,
 'Fusca': 150000,
 'Passat': 106161.94,
 'Crossfox': 72832.16}

## *dict.keys()*

Devuelve una lista con las llaves (*keys*) del diccionario.

In [83]:
datos.keys()

dict_keys(['Jetta Variant', 'DS5', 'Fusca', 'Passat', 'Crossfox'])

In [84]:
for key in datos.keys():
  print(key)

Jetta Variant
DS5
Fusca
Passat
Crossfox

## *dict.values()*

Devuelve una lista con todos los valores (*values*) del diccionario.

In [85]:
datos.values()

dict_values([88078.64, 124549.07, 150000, 106161.94, 72832.16])

In [86]:
for value in datos.values():
  print(value)

88078.64
124549.07
150000
106161.94
72832.16

## *dict.items()*

Devuelve una lista con una tupla para cada par llave-valor (*key-value*) del diccionario.

In [87]:
datos.items()

dict_items([('Jetta Variant', 88078.64), ('DS5', 124549.07), ('Fusca', 150000), ('Passat', 106161.94), ('Crossfox', 72832.16)])

In [88]:
for item in datos.items():
  print(item)

('Jetta Variant', 88078.64)
('DS5', 124549.07)
('Fusca', 150000)
('Passat', 106161.94)
('Crossfox', 72832.16)

In [89]:
for key, value in datos.items():
  print(key, '->', value)

Jetta Variant -> 88078.64
DS5 -> 124549.07
Fusca -> 150000
Passat -> 106161.94
Crossfox -> 72832.16

In [90]:
for key, value in datos.items():
  if (value)>100000:
    print(key)

DS5
Fusca
Passat

In [91]:
datos = {
    'Crossfox': {'valor': 72000, 'año': 2005}, 
    'DS5': {'valor': 125000, 'año': 2015}, 
    'Fusca': {'valor': 150000, 'año': 1976}, 
    'Jetta': {'valor': 88000, 'año': 2010}, 
    'Passat': {'valor': 106000, 'año': 1998}
}
datos

{'Crossfox': {'valor': 72000, 'año': 2005},
 'DS5': {'valor': 125000, 'año': 2015},
 'Fusca': {'valor': 150000, 'año': 1976},
 'Jetta': {'valor': 88000, 'año': 2010},
 'Passat': {'valor': 106000, 'año': 1998}}

In [92]:
for item in datos.items():
    if(item[1]['año'] >= 2000):
        print(item[0])

Crossfox
DS5
Jetta

# <font color=green> 4. FUNCIONES Y PAQUETES
---

Funciones son unidades de código reutilizables que realizan una tarea específica, pueden recibir alguna entrada y también pueden devolver algún resultado.

# 4.1 Built-in function

El lenguaje Python tiene varias funciones integradas que siempre están accesibles. Algunas ya las usamos en nuestro entrenamiento:
type(), print(), zip(), len(), set() etc.

https://docs.python.org/3.6/library/functions.html

In [93]:
datos = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
datos

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

In [94]:
valores = []
for valor in datos.values():
  valores.append(valor)
valores

[88078.64, 106161.94, 72832.16]

In [95]:
suma = 0
for valor in datos.values():
  suma+=valor
suma

267072.74

In [96]:
list(datos.values())

[88078.64, 106161.94, 72832.16]

In [97]:
sum(datos.values())

267072.74

In [98]:
sum(datos.values(),1000000)

1267072.7399999998

In [99]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [100]:
print?

# 4.2 Definiendo funciones sin y con parámetros

### Funciones sin parámetros

#### Formato estándar

```
def <nombre>():
    <instrucciones>
```

In [101]:
def media ():
  valor = (1+2+3)/3
  print(valor)

In [102]:
media()

2.0

### Funciones con parámetros

#### Formato estándar

```
def <nombre>(<param_1>, <param_2>, ..., <param_n>):
    <instrucciones>
```

In [103]:
def media(number_1, number_2, number_3):
  valor=(number_1 + number_2 + number_3)/3
  print(valor)

In [104]:
media(1,2,3)

2.0

In [105]:
media(23, 45, 67)

45.0

In [106]:
def media(lista):
  valor=sum(lista)/len(lista)
  print(valor)

In [107]:
resultado= media([1,2,3,4,5])

3.0

In [108]:
resultado

In [109]:
type(resultado)

NoneType

# 4.3 Definiendo funciones que devuelven valores

### Funciones que devuelven un valor

#### Formato estándar

```
def <nombre>(<param_1>, <param_2>, ..., <param_n>):
    <instrucciones>
    return <resultado>
```

In [110]:
def media(lista):
  valor=sum(lista)/len(lista)
  return(valor)

In [111]:
media([1,2,3,4,5,6,7,8])

4.5

In [112]:
resultado=media([1,2,3,4,5,6,7,8])

In [113]:
resultado

4.5

### Funciones que devuelven más de un valor

#### Formato estándar

```
def <nombre>(<param_1>, <param_2>, ..., <param_n>):
    <instrucciones>
    return (<resultado_1>, <resultado_2>, ..., <resultado_n>)
```

In [114]:
def media(lista):
  valor=sum(lista)/len(lista)
  return(valor, len(lista))

In [115]:
media([1,2,3,4,5,6,7,8])

(4.5, 8)

In [116]:
resultado, n= media([1,2,3,4,5,6,7,8])

In [117]:
resultado

4.5

In [118]:
n

8

# <font color=green> 5. PANDAS BÁSICO
---

**versión: 1.1.0**

Pandas es una herramienta de manipulación de datos de alto nivel, construida sobre la base del paquete Numpy. El paquete pandas tiene estructuras de datos muy interesantes para la manipulación de datos y, por esto, es ampliamente utilizado por los científicos de datos.


## Estructuras de Datos

### Series

Series son arrays unidimensionales etiquetados capaces de almacenar cualquier tipo de dato. Las etiquetas de las líneas se denominan **index**. La forma básica de crear una Series es la siguiente:


```
    s = pd.Series(datos, index = index)
```

El argumento *datos* puede ser un diccionario, una lista, un array Numpy o una constante.

### DataFrames

DataFrame es una estructura de datos tabular bidimensional con etiquetas de fila y columna. Como la Series, los DataFrames son capaces de almacenar cualquier tipo de datos.


```
    df = pd.DataFrame(datos, index = index, columns = columns)
```

El argumento *datos* puede ser un diccionario, una lista, un array Numpy, una Series y otro DataFrame.

**Documentación:** https://pandas.pydata.org/pandas-docs/version/1.1.0/

# 5.1 Estructuras de datos

In [119]:
import pandas as pd

### Creando una Series a partir de una lista

In [120]:
carros = ['Jetta Variant', 'Passat', 'Crossfox']
carros

['Jetta Variant', 'Passat', 'Crossfox']

In [121]:
pd.Series(carros)

0    Jetta Variant
1           Passat
2         Crossfox
dtype: object

### Creando un DataFrame a partir de una lista de diccionarios

In [122]:
datos = [
    {'Nombre': 'Jetta Variant', 'Motor': 'Motor 4.0 Turbo', 'Año': 2003, 'Kilometraje': 44410.0, 'Cero_km': False, 'Valor': 88078.64},
    {'Nombre': 'Passat', 'Motor': 'Motor Diesel', 'Año': 1991, 'Kilometraje': 5712.0, 'Cero_km': False, 'Valor': 106161.94},
    {'Nombre': 'Crossfox', 'Motor': 'Motor Diesel V8', 'Año': 1990, 'Kilometraje': 37123.0, 'Cero_km': False, 'Valor': 72832.16}
]

In [123]:
dataset = pd.DataFrame(datos)

In [124]:
dataset

          Nombre            Motor   Año  Kilometraje  Cero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003      44410.0    False   88078.64
1         Passat     Motor Diesel  1991       5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990      37123.0    False   72832.16

In [125]:
dataset[['Nombre','Año','Motor','Kilometraje','Cero_km','Valor']]

          Nombre   Año            Motor  Kilometraje  Cero_km      Valor
0  Jetta Variant  2003  Motor 4.0 Turbo      44410.0    False   88078.64
1         Passat  1991     Motor Diesel       5712.0    False  106161.94
2       Crossfox  1990  Motor Diesel V8      37123.0    False   72832.16

### Creando un DataFrame a partir de un diccionario

In [126]:
datos = {
    'Nombre': ['Jetta Variant', 'Passat', 'Crossfox'], 
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8'],
    'Año': [2003, 1991, 1990],
    'Kilometraje': [44410.0, 5712.0, 37123.0],
    'Cero_km': [False, False, False],
    'Valor': [88078.64, 106161.94, 72832.16]
}

In [127]:
dataset=pd.DataFrame(datos)

In [128]:
dataset

          Nombre            Motor   Año  Kilometraje  Cero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003      44410.0    False   88078.64
1         Passat     Motor Diesel  1991       5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990      37123.0    False   72832.16

### Creando un DataFrame a partir de un archivo externo

In [129]:
from google.colab import drive
drive.mount ('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [130]:
dataset=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/db.csv', sep=';', index_col=0)

In [131]:
dataset

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10
...,...,...,...,...,...,...
Phantom 2013,Motor V8,2014,27505.0,False,"['Control de estabilidad', 'Piloto automático'...",51759.58
Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Asientos de cuero', 'Panel digital', 'Sensor...",51667.06
Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Llantas de aleación', 'Control de tracción',...",68934.03
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Aire condicionado', '4 X 4', 'Transmisión au...",122110.90
Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimedia', 'Techo panorámico', 'Ve...",90381.47

In [132]:
datos = {
    'Crossfox': {'km': 35000, 'año': 2005}, 
    'DS5': {'km': 17000, 'año': 2015}, 
    'Fusca': {'km': 130000, 'año': 1979}, 
    'Jetta': {'km': 56000, 'año': 2011}, 
    'Passat': {'km': 62000, 'año': 1999}
}

In [133]:
def km_media(dataset, año_actual):
    result = {}
    for item in dataset.items():
        media = item[1]['km'] / (año_actual - item[1]['año'])
        item[1].update({ 'km_media': media })
        result.update({ item[0]: item[1] })

    return result

In [134]:
km_media(datos, 2019)

{'Crossfox': {'km': 35000, 'año': 2005, 'km_media': 2500.0},
 'DS5': {'km': 17000, 'año': 2015, 'km_media': 4250.0},
 'Fusca': {'km': 130000, 'año': 1979, 'km_media': 3250.0},
 'Jetta': {'km': 56000, 'año': 2011, 'km_media': 7000.0},
 'Passat': {'km': 62000, 'año': 1999, 'km_media': 3100.0}}

In [135]:
import pandas as pd
carros = pd.DataFrame(km_media(datos, 2019)).T
carros

                km     año  km_media
Crossfox   35000.0  2005.0    2500.0
DS5        17000.0  2015.0    4250.0
Fusca     130000.0  1979.0    3250.0
Jetta      56000.0  2011.0    7000.0
Passat     62000.0  1999.0    3100.0

# 5.2 Selecciones con DataFrames

### Seleccionando columnas

In [136]:
dataset.head()

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10

In [137]:
dataset['Valor']

Nombre
Jetta Variant             88078.64
Passat                   106161.94
Crossfox                  72832.16
DS5                      124549.07
Aston Martin DB4          92612.10
                           ...
Phantom 2013              51759.58
Cadillac Ciel concept     51667.06
Classe GLK                68934.03
Aston Martin DB5         122110.90
Macan                     90381.47
Name: Valor, Length: 258, dtype: float64

In [138]:
type(dataset['Valor'])

pandas.core.series.Series

In [139]:
dataset[['Valor']]

                           Valor
Nombre
Jetta Variant           88078.64
Passat                 106161.94
Crossfox                72832.16
DS5                    124549.07
Aston Martin DB4        92612.10
...                          ...
Phantom 2013            51759.58
Cadillac Ciel concept   51667.06
Classe GLK              68934.03
Aston Martin DB5       122110.90
Macan                   90381.47

[258 rows x 1 columns]

In [140]:
type(dataset[['Valor']])

pandas.core.frame.DataFrame

### Seleccionando lineas - [ i : j ] 

<font color=red>**Observación:**</font> La indexación tiene origen en cero y en las particiones(*slices*) la línea con índice i es **incluída** y la línea con índice j **no es incluída** en el resultado.

In [141]:
dataset[0:3][['Valor','Motor']]

                   Valor            Motor
Nombre
Jetta Variant   88078.64  Motor 4.0 Turbo
Passat         106161.94     Motor Diesel
Crossfox        72832.16  Motor Diesel V8

### Utilizando .loc para selecciones

<font color=red>**Observación:**</font> Selecciona un grupo de líneas y columnas según las etiquetas o una matriz booleana.

In [142]:
dataset.loc['Passat']

Motor                                               Motor Diesel
Año                                                         1991
Kilometraje                                               5712.0
Cero_km                                                    False
Accesorios     ['Central multimedia', 'Techo panorámico', 'Fr...
Valor                                                  106161.94
Name: Passat, dtype: object

In [143]:
dataset.loc[['Passat','DS5']]

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07

In [144]:
dataset.loc[['Passat','DS5'],['Motor','Valor']]

                  Motor      Valor
Nombre
Passat     Motor Diesel  106161.94
DS5     Motor 2.4 Turbo  124549.07

In [145]:
dataset.loc[:,['Motor','Valor']]

                                       Motor      Valor
Nombre
Jetta Variant                Motor 4.0 Turbo   88078.64
Passat                          Motor Diesel  106161.94
Crossfox                     Motor Diesel V8   72832.16
DS5                          Motor 2.4 Turbo  124549.07
Aston Martin DB4             Motor 2.4 Turbo   92612.10
...                                      ...        ...
Phantom 2013                        Motor V8   51759.58
Cadillac Ciel concept               Motor V8   51667.06
Classe GLK             Motor 5.0 V8 Bi-Turbo   68934.03
Aston Martin DB5                Motor Diesel  122110.90
Macan                        Motor Diesel V6   90381.47

[258 rows x 2 columns]

### Utilizando .iloc para selecciones

<font color=red>**Observación:**</font> Selecciona con base en los índices, es decir, utiliza la posición de las informaciones.

In [146]:
dataset.head()

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10

In [147]:
dataset.iloc[[1]]

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94

In [148]:
dataset.iloc[1:4]

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07

In [149]:
dataset.iloc[1:4, [0, 5, 2]]

                    Motor      Valor  Kilometraje
Nombre
Passat       Motor Diesel  106161.94       5712.0
Crossfox  Motor Diesel V8   72832.16      37123.0
DS5       Motor 2.4 Turbo  124549.07          NaN

In [150]:
dataset.iloc[1:4, :3]

                    Motor   Año  Kilometraje
Nombre
Passat       Motor Diesel  1991       5712.0
Crossfox  Motor Diesel V8  1990      37123.0
DS5       Motor 2.4 Turbo  2019          NaN

In [151]:
dataset.iloc[[1, 42, 22], [0, 5, 2]]

                               Motor      Valor  Kilometraje
Nombre
Passat                  Motor Diesel  106161.94       5712.0
Optima                 Motor 1.8 16v   86641.34          NaN
Lamborghini Obvious  Motor Diesel V6  133529.84      98079.0

In [152]:
dataset.iloc[:, [0, 5, 2]]

                                       Motor      Valor  Kilometraje
Nombre
Jetta Variant                Motor 4.0 Turbo   88078.64      44410.0
Passat                          Motor Diesel  106161.94       5712.0
Crossfox                     Motor Diesel V8   72832.16      37123.0
DS5                          Motor 2.4 Turbo  124549.07          NaN
Aston Martin DB4             Motor 2.4 Turbo   92612.10      25757.0
...                                      ...        ...          ...
Phantom 2013                        Motor V8   51759.58      27505.0
Cadillac Ciel concept               Motor V8   51667.06      29981.0
Classe GLK             Motor 5.0 V8 Bi-Turbo   68934.03      52637.0
Aston Martin DB5                Motor Diesel  122110.90       7685.0
Macan                        Motor Diesel V6   90381.47      50188.0

[258 rows x 3 columns]

In [153]:
datos_tarea = {
   'Nombre': ['Jetta', 'Passat', 'Crossfox', 'DS5', 'Fusca'], 
   'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8', 'Motor 2.0', 'Motor 1.6'],
    'Año': [2019, 2003, 1991, 2019, 1990],
    'Kilometraje': [0.0, 5712.0, 37123.0, 0.0, 120000.0],
    'Cero_km': [True, False, False, True, False],
    'Valor': [88000.0, 106000.0, 72000.0, 89000.0, 32000.0]
}

dataset = pd.DataFrame(datos_tarea)

dataset = dataset.set_index(['Nombre'])

dataset

                    Motor   Año  Kilometraje  Cero_km     Valor
Nombre
Jetta     Motor 4.0 Turbo  2019          0.0     True   88000.0
Passat       Motor Diesel  2003       5712.0    False  106000.0
Crossfox  Motor Diesel V8  1991      37123.0    False   72000.0
DS5             Motor 2.0  2019          0.0     True   89000.0
Fusca           Motor 1.6  1990     120000.0    False   32000.0

In [154]:
dataset.iloc[1:3, [1,2,4]]

           Año  Kilometraje     Valor
Nombre
Passat    2003       5712.0  106000.0
Crossfox  1991      37123.0   72000.0

In [155]:


datos_tarea2 = {
   'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8', 'Motor 2.0', 'Motor 1.6'],
   'Año': [2019, 2003, 1991, 2019, 1990],
   'Kilometraje': [0.0, 5712.0, 37123.0, 0.0, 120000.0],
   'Cero_km': [True, False, False, True, False],
   'Valor': [88000.0, 106000.0, 72000.0, 89000.0, 32000.0]
}

dataset = pd.DataFrame(datos_tarea2, index = ['Jetta', 'Passat', 'Crossfox', 'DS5', 'Fusca'])
dataset

                    Motor   Año  Kilometraje  Cero_km     Valor
Jetta     Motor 4.0 Turbo  2019          0.0     True   88000.0
Passat       Motor Diesel  2003       5712.0    False  106000.0
Crossfox  Motor Diesel V8  1991      37123.0    False   72000.0
DS5             Motor 2.0  2019          0.0     True   89000.0
Fusca           Motor 1.6  1990     120000.0    False   32000.0

In [156]:
dataset.loc[['Passat','DS5'],['Motor','Valor']]

               Motor     Valor
Passat  Motor Diesel  106000.0
DS5        Motor 2.0   89000.0

# 5.3 Consultas en DataFrames

In [157]:
dataset.head()

                    Motor   Año  Kilometraje  Cero_km     Valor
Jetta     Motor 4.0 Turbo  2019          0.0     True   88000.0
Passat       Motor Diesel  2003       5712.0    False  106000.0
Crossfox  Motor Diesel V8  1991      37123.0    False   72000.0
DS5             Motor 2.0  2019          0.0     True   89000.0
Fusca           Motor 1.6  1990     120000.0    False   32000.0

In [158]:
dataset.Motor

Jetta       Motor 4.0 Turbo
Passat         Motor Diesel
Crossfox    Motor Diesel V8
DS5               Motor 2.0
Fusca             Motor 1.6
Name: Motor, dtype: object

In [159]:
dataset.Motor == 'Motor Diesel'

Jetta       False
Passat       True
Crossfox    False
DS5         False
Fusca       False
Name: Motor, dtype: bool

In [160]:
type(dataset.Motor == 'Motor Diesel')

pandas.core.series.Series

In [161]:
dataset[dataset.Motor == 'Motor Diesel']

               Motor   Año  Kilometraje  Cero_km     Valor
Passat  Motor Diesel  2003       5712.0    False  106000.0

In [162]:
dataset[(dataset.Motor == 'Motor Diesel') & (dataset.Cero_km==False)]

               Motor   Año  Kilometraje  Cero_km     Valor
Passat  Motor Diesel  2003       5712.0    False  106000.0

### Utilizando el método query

In [163]:
dataset.query('Motor == "Motor Diesel" and Cero_km == False')

               Motor   Año  Kilometraje  Cero_km     Valor
Passat  Motor Diesel  2003       5712.0    False  106000.0

In [164]:


datos = {
  'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8', 'Motor Diesel', 'Motor 1.6'],
    'Año': [2019, 2003, 1991, 2019, 1990],
    'Kilometraje': [0.0, 5712.0, 37123.0, 0.0, 120000.0],
    'Cero_km': [True, False, False, True, False],
    'Valor': [88000.0, 106000.0, 72000.0, 89000.0, 32000.0]
}

dataset = pd.DataFrame(datos, index = ['Jetta', 'Passat', 'Crossfox', 'DS5', 'Fusca'])

In [165]:
dataset

                    Motor   Año  Kilometraje  Cero_km     Valor
Jetta     Motor 4.0 Turbo  2019          0.0     True   88000.0
Passat       Motor Diesel  2003       5712.0    False  106000.0
Crossfox  Motor Diesel V8  1991      37123.0    False   72000.0
DS5          Motor Diesel  2019          0.0     True   89000.0
Fusca           Motor 1.6  1990     120000.0    False   32000.0

In [166]:
dataset.query('Motor == "Motor 4.0 Turbo" or Motor == "Motor Diesel"')

                  Motor   Año  Kilometraje  Cero_km     Valor
Jetta   Motor 4.0 Turbo  2019          0.0     True   88000.0
Passat     Motor Diesel  2003       5712.0    False  106000.0
DS5        Motor Diesel  2019          0.0     True   89000.0

# 5.4 Iterando con DataFrames

In [167]:
dataset.head()

                    Motor   Año  Kilometraje  Cero_km     Valor
Jetta     Motor 4.0 Turbo  2019          0.0     True   88000.0
Passat       Motor Diesel  2003       5712.0    False  106000.0
Crossfox  Motor Diesel V8  1991      37123.0    False   72000.0
DS5          Motor Diesel  2019          0.0     True   89000.0
Fusca           Motor 1.6  1990     120000.0    False   32000.0

In [168]:
for item in dataset:
  print(item)

Motor
Año
Kilometraje
Cero_km
Valor

In [169]:
list(dataset.iterrows())

[('Jetta',
  Motor          Motor 4.0 Turbo
  Año                       2019
  Kilometraje                0.0
  Cero_km                   True
  Valor                  88000.0
  Name: Jetta, dtype: object),
 ('Passat',
  Motor          Motor Diesel
  Año                    2003
  Kilometraje          5712.0
  Cero_km               False
  Valor              106000.0
  Name: Passat, dtype: object),
 ('Crossfox',
  Motor          Motor Diesel V8
  Año                       1991
  Kilometraje            37123.0
  Cero_km                  False
  Valor                  72000.0
  Name: Crossfox, dtype: object),
 ('DS5',
  Motor          Motor Diesel
  Año                    2019
  Kilometraje             0.0
  Cero_km                True
  Valor               89000.0
  Name: DS5, dtype: object),
 ('Fusca',
  Motor          Motor 1.6
  Año                 1990
  Kilometraje     120000.0
  Cero_km            False
  Valor            32000.0
  Name: Fusca, dtype: object)]

In [176]:
for index, row in dataset.iterrows():
  if (2020-row.Año != 0):
    dataset.loc[index, 'km_media']=row.Kilometraje/(2020-row.Año)
  else: 
    dataset.loc[index, 'km_media']=0

dataset

                    Motor   Año  Kilometraje  Cero_km     Valor     km_media
Jetta     Motor 4.0 Turbo  2019          0.0     True   88000.0     0.000000
Passat       Motor Diesel  2003       5712.0    False  106000.0   336.000000
Crossfox  Motor Diesel V8  1991      37123.0    False   72000.0  1280.103448
DS5          Motor Diesel  2019          0.0     True   89000.0     0.000000
Fusca           Motor 1.6  1990     120000.0    False   32000.0  4000.000000

# 5.5 Tratamiento de datos

In [177]:
dataset.head()

                    Motor   Año  Kilometraje  Cero_km     Valor     km_media
Jetta     Motor 4.0 Turbo  2019          0.0     True   88000.0     0.000000
Passat       Motor Diesel  2003       5712.0    False  106000.0   336.000000
Crossfox  Motor Diesel V8  1991      37123.0    False   72000.0  1280.103448
DS5          Motor Diesel  2019          0.0     True   89000.0     0.000000
Fusca           Motor 1.6  1990     120000.0    False   32000.0  4000.000000

In [178]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, Jetta to Fusca
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Motor        5 non-null      object
 1   Año          5 non-null      int64
 2   Kilometraje  5 non-null      float64
 3   Cero_km      5 non-null      bool
 4   Valor        5 non-null      float64
 5   km_media     5 non-null      float64
dtypes: bool(1), float64(3), int64(1), object(1)
memory usage: 417.0+ bytes

In [179]:
dataset.Kilometraje.isna()

Jetta       False
Passat      False
Crossfox    False
DS5         False
Fusca       False
Name: Kilometraje, dtype: bool

In [180]:
 dataset[dataset.Kilometraje.isna()]

Empty DataFrame
Columns: [Motor, Año, Kilometraje, Cero_km, Valor, km_media]
Index: []

In [181]:
dataset.fillna(0)

                    Motor   Año  Kilometraje  Cero_km     Valor     km_media
Jetta     Motor 4.0 Turbo  2019          0.0     True   88000.0     0.000000
Passat       Motor Diesel  2003       5712.0    False  106000.0   336.000000
Crossfox  Motor Diesel V8  1991      37123.0    False   72000.0  1280.103448
DS5          Motor Diesel  2019          0.0     True   89000.0     0.000000
Fusca           Motor 1.6  1990     120000.0    False   32000.0  4000.000000

In [182]:
dataset

                    Motor   Año  Kilometraje  Cero_km     Valor     km_media
Jetta     Motor 4.0 Turbo  2019          0.0     True   88000.0     0.000000
Passat       Motor Diesel  2003       5712.0    False  106000.0   336.000000
Crossfox  Motor Diesel V8  1991      37123.0    False   72000.0  1280.103448
DS5          Motor Diesel  2019          0.0     True   89000.0     0.000000
Fusca           Motor 1.6  1990     120000.0    False   32000.0  4000.000000

In [183]:
dataset.fillna(0,inplace=True)

In [184]:
dataset

                    Motor   Año  Kilometraje  Cero_km     Valor     km_media
Jetta     Motor 4.0 Turbo  2019          0.0     True   88000.0     0.000000
Passat       Motor Diesel  2003       5712.0    False  106000.0   336.000000
Crossfox  Motor Diesel V8  1991      37123.0    False   72000.0  1280.103448
DS5          Motor Diesel  2019          0.0     True   89000.0     0.000000
Fusca           Motor 1.6  1990     120000.0    False   32000.0  4000.000000

In [186]:
dataset.query('Cero_km == True')

                 Motor   Año  Kilometraje  Cero_km    Valor  km_media
Jetta  Motor 4.0 Turbo  2019          0.0     True  88000.0       0.0
DS5       Motor Diesel  2019          0.0     True  89000.0       0.0

In [187]:
dataset = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/db.csv', sep = ';')

In [188]:
dataset

,Nombre,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Control de estabilidad', 'Piloto automático'...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Asientos de cuero', 'Panel digital', 'Sensor...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Llantas de aleación', 'Control de tracción',...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Aire condicionado', '4 X 4', 'Transmisión au...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimedia', 'Techo panorámico', 'Ve...",90381.47

In [189]:
dataset.dropna(subset =['Kilometraje'], inplace=True)

In [190]:
dataset

,Nombre,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10
5,Palio Weekend,Motor 1.8 16v,2012,10728.0,False,"['Sensor de estacionamiento', 'Techo panorámic...",97497.73
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Control de estabilidad', 'Piloto automático'...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Asientos de cuero', 'Panel digital', 'Sensor...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Llantas de aleación', 'Control de tracción',...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Aire condicionado', '4 X 4', 'Transmisión au...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimedia', 'Techo panorámico', 'Ve...",90381.47